# Python virtual environments
.venv/
**/.venv/

# Python cache
__pycache__/
**/__pycache__/
*.pyc
**/*.pyc

# Test cache
.pytest_cache/
**/.pytest_cache/

# Environment / secrets
.env
**/.env
.env.*
**/.env.*

# Git
.git/
.gitignore

# Documentation
README.md
**/README.md

# Tests
tests/
**/tests/

# Local development files
.vscode/
.idea/